<div class="row mb-4 project card">
  <div class="col-md-5">
    <h2>
      <p>{{name}}</p>
    </h2>
    <p>Entry by:
      {{user.first_name}}
      {{user.last_name}}
      {{format_date date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{text}}
    </p>
  </div>
</div>